$d-base-font-family: Helvetica;
$d-base-font-size: 1rem;
$d-base-line-height: 1.5;
$d-headings-font-weight: 700;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $d-base-font-family;
  font-size: $d-base-font-size;
  line-height: $d-base-line-height;
  color: #333;
  background: #fff;
  font-feature-settings: 'liga', 'kern';
}

img,
video {
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: $d-headings-font-weight;
}

abbr[title] {
  text-decoration: none;
  opacity: 0.5;
}

img {
  max-width: 100%;
}

main {
  height: $d-main-height;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
.link {
  font-weight: normal;
  padding: $d-link-padding;
  background-color: transparent;
  text-decoration: none;
  color: $d-link-color;
  &:hover {
    background-color: transparent;
    color: $d-link-hover-color;
  }
}
