/* ==========================================================================
   Variables
   - Theme Colors
   - Fonts
   - Padding
   - Margin
   - Borders
   - Box Shadows

   ---
   Global SCSS variables (override default values defined in component files)
   ========================================================================== */

/* Global
========================================================================== */
// $d-bit: 1rem; //16px
$d-bit: 16px; //16px
$d-byte: $d-bit * 8; //128px
$d-width: $d-byte;
$d-height: $d-bit * 4;

$d-spacer-unit: $d-bit * 0.8;
// $d-spacer-relative: 0.6em;
// $d-transition: all 0.2s;
$d-transition: all 0.2s ease-in-out 0s;
$d-transition-slow: all 5s ease-in-out 0s;
$d-box-sizing: border-box;
$d-transparency: 0.2;

//Setting only the colors we want to think about from full color palette;
$d-black: $black;

$d-white: $white;
$d-white-pure: $pure-white;

$d-blue-light: $light-blue;
$d-blue: $blue;
$d-blue-dark: $dark-blue;

/* Theme Colors
========================================================================== */
$d-text-color: $d-white;
$d-background-color: $d-black;
$d-color-primary: $d-blue;

/* Typography
========================================================================== */

$d-font-family: Helvetica, 'Liberation Sans', Arial, sans-serif;
$d-headings-font-weight: 700;
$d-code-font-family: 'Fira Code', Consolas, 'Lucida Console',
  'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

//Font Size
$d-font-size: 1rem;
$d-font-weight: 400;
$d-font-color: #252525;

//Line Height
$d-line-height: 1.5; // at 1rem of 16px, that gives a line of 24px

$d-headings-font-weight: 600;
$d-headings-font-family: $d-font-family;

/* Breakpoints
========================================================================== */
$d-block: $d-byte; //defaults to 8rem, 128px

$block: $d-block;
$bl: $d-block;
$sec: $block * 2;
$xxs: $block * 3;
$xs: $block * 4;
$sm: $block * 5;
$md: $block * 6;
$lm: $block * 7;
$lg: $block * 8;
$xl: $block * 9;
$xxl: $block * 10;
$huge: $block * 20;

$d-box-min-width: $sec;

/* Spacing - Padding
========================================================================== */
$d-padding: 0.5em;
$d-padding-x: $d-padding;
$d-padding-y: $d-padding * 2;

/* Spacing - Margin
========================================================================== */
$d-margin: 1rem;
$d-margin-x: $d-margin;
$d-margin-y: $d-margin * 2;

//Border radius
$d-radius: 0.2em;

//Defaults for Elements
$d-main-height: 99vh;

//used in u-generic
// Lists
$d-list-style-type: none;
//Text-Align
$d-text-align: center;
//Box Shadows
$d-box-shadow: 0 1px 3px hsla(0, 0, 0, 0.12);
$g-box-shadow: 0 1px 3px hsla(0, 0, 0, 0.12);
$picnic-shadow: 0 0 0.2em rgba($d-black, $d-transparency);

//Border
$d-border-color: $d-black;
$d-border: 1px solid $d-border-color;

//COMPONENTS
//Input Labels
$d-label-font-size: 0.8rem;
$d-label-color: #222;

//Inputs
$d-input-font-size: $d-font-size;

$d-input-color: $d-black;
$d-input-background-color: #fff;
$d-input-placeholder-color: $d-black;
$d-input-invalid-background-color: #fff;
$d-input-invalid-required-background-color: #ffc3c3;

$d-input-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

// Buttons
$d-button-font-size: $d-font-size;
$d-button-padding: $d-padding-x $d-padding-y;

$d-button-color: #fff;
$d-button-background-color: $d-blue;
$d-button-hover-background-color: $d-blue-dark;

$d-button-secondary-color: #444;
$d-button-secondary-background-color: #ddd;
$d-button-secondary-hover-background-color: #aaa;

$d-button-invalid-color: #777;
$d-button-invalid-background-color: #eee;

//Links
$d-link-color: $d-blue;
$d-link-hover-color: $d-blue-light;
$d-link-padding: $d-padding-x $d-padding-y;

//Styling Multipliers
$multipliers: (
  '__': 0.25,
  '_': 0.5,
  '--': 0.75,
  '-': 0.875,
  '': 1,
  '\\+': 1.25,
  '\\+\\+': 1.5,
  '\\*': 2,
  '\\*\\*': 2.75,
);

$size-options: (
  'w': 'max-width',
  'h': 'max-height',
);

$directions: (
  '': '',
  'l': '-left',
  'r': '-right',
  't': '-top',
  'b': '-bottom',
);
$spacing-options: (
  'p': 'padding',
  'm': 'margin',
);
