.float-left {
  float: left;
}
.float-right {
  float: right;
}

//Grid
.grid-all > * {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16px, 1fr));
}

@mixin flex() {
  .flex,
  article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    &.grid-all > * {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($block, 1fr));
    }
    &.flex-start {
      justify-content: flex-start;
    }
    &.space-between {
      justify-content: space-between;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.align-start {
      align-items: start;
    }
    &.align-end {
      align-items: end;
    }
    &.row {
      flex-direction: row;
    }
    &.no-wrap {
      flex-wrap: nowrap;
    }
    &.stretch-all {
      align-items: stretch;
    }
    &.grow-all > * {
      flex: 1 1 auto;
    }
    //Alias for stretch and grow
    &.fill-all {
      align-items: stretch;
      > * {
        flex: 1 1 auto;
      }
    }
    //This section and nav overwrite might be an anit-pattern
    & > section,
    & > nav {
      align-self: stretch;
    }
    & > * {
      &.baseline {
        align-self: baseline;
      }

      &.stretch {
        align-self: stretch;
      }
      &.grow {
        flex-grow: 1;
      }
      //Alias for stretch and grow
      &.fill {
        align-self: stretch;
        flex-grow: 1;
      }
    }
  }
}

//Flexbox
//Sizing
//Containers
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
//Width - min max
.w-max-xxs {
  max-width: $xxs;
}
.w-max-xs {
  max-width: $xs;
}
.w-max-sm {
  max-width: $sm;
}
.w-max-md {
  max-width: $md;
}
.w-max-lg {
  max-width: $lg;
}

//Height - min max
//Grid

@include blockObjects {
  display: block;
}
@include contentObjects {
  display: block;
}
