//TODO revisit where markdown should live
*[dd] * {
  outline: 1px dashed #009ddc !important;
}

.reader,
.markdown {
  font-family: Montserrat, sans-serif;
  line-height: $d-line-height * 1.2;
  background-color: #00000004;
  font-size: $d-font-size * 1.5;
  color: $d-color-black;
  p ~ p {
    margin-top: $d-margin-x;
    word-wrap: word;
  }
}
.bg {
  background-color: $d-background-color;
}
.cursor-pointer {
  cursor: pointer;
}

.db {
  border: 1px solid red;
  .db {
    margin: 1px;
    border: 1px solid blue;
  }
}
.border {
  border: $d-border;
}
.border-none {
  border: none;
}

//Padding
.p {
  padding: $d-padding-x $d-padding-y;
}
.p-xxs {
  padding: ($d-padding-x * 0.25) ($d-padding-y * 0.25);
}
.p-xs {
  padding: ($d-padding-x * 0.5) ($d-padding-y * 0.5);
}
.p-sm {
  padding: ($d-padding-x * 0.75) ($d-padding-y * 0.75);
}
.p-md {
  padding: ($d-padding-x * 1.25) ($d-padding-y * 1.25);
}
.p-lm {
  padding: ($d-padding-x * 1.5) ($d-padding-y * 1.5);
}
.p-lm {
  padding: ($d-padding-x * 2) ($d-padding-y * 2);
}
.p-lg {
  padding: ($d-padding-x * 3) ($d-padding-y * 3);
}
.p-xl {
  padding: ($d-padding-x * 4) ($d-padding-y * 4);
}
.p-xxl {
  padding: ($d-padding-x * 6) ($d-padding-y * 6);
}
.pt {
  padding-top: $d-padding-y;
}
.pb {
  padding-bottom: $d-padding-y;
}
.pr {
  padding-right: $d-padding-x;
}
.pl {
  padding-left: $d-padding-x;
}
.p-none {
  padding: 0;
}
.px {
  padding-left: $d-padding-x;
  padding-right: $d-padding-x;
}

.py {
  padding-top: $d-padding-y;
  padding-bottom: $d-padding-y;
}
//Margins
.m {
  margin: $d-margin-x $d-margin-y;
}
.m-auto {
  margin: auto;
}
.m-none {
  margin: 0;
}
.mt {
  margin-top: $d-margin-x;
}
.mb {
  margin-bottom: $d-margin-x;
}
.ml {
  margin-left: $d-margin-y;
}
.mr {
  margin-right: $d-margin-y;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx {
  margin-left: $d-margin-x;
  margin-right: $d-margin-x;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my {
  margin-top: $d-margin-y;
  margin-bottom: $d-margin-y;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.display-none {
  display: none;
}
